.film-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 960px;
    margin: auto;
}

.film-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.film-item {
    height: 400px;
    width: 270px;
}

.film-img {
    height: inherit;
    width: inherit;
}
