:root {
    --theme-color-accent: #da1848;
    --theme-color-light: #fff;
    --theme-color-dark: #000;
    --theme-color-blue: #235993;
    --bg-color-blue: #43718E;
    --bg-color-bluegrey: #BED5DD;
    --bg-color-hover: #648793;
}